<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAluno_</servlet-name>
        <servlet-class>controller.ServletAluno_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerUsuario</servlet-name>
        <servlet-class>ControlerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responsavel</servlet-name>
        <servlet-class>ControlerResponsavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerFuncionario</servlet-name>
        <servlet-class>ControlerFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerAluno</servlet-name>
        <servlet-class>ControlerAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAluno_</servlet-name>
        <url-pattern>/ServletAluno_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerUsuario</servlet-name>
        <url-pattern>/ControlerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responsavel</servlet-name>
        <url-pattern>/responsavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerFuncionario</servlet-name>
        <url-pattern>/ControlerFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerAluno</servlet-name>
        <url-pattern>/ControlerAluno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
